@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1rem !important;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

body[data-theme="light"] {
    --bg-primary: hsl(0, 0%, 100%);
    --bg-primary-light: hsl(0, 0%, 96%);
    --bg-primary-dark: hsl(0, 0%, 80%);

    --font-primary: hsl(206, 6%, 25%);
    --font-secondary: hsl(0, 0%, 100%);

    --danger-color: hsl(0, 90%, 60%);

    --details-color: hsl(110, 50%, 38%);
    --details-color-dark: hsl(110, 50%, 82%);
    --details-color-light: hsl(110, 50%, 95%);

    --border-color: #ddd;
}

body[data-theme="dark"] {
    --bg-primary: hsl(0, 0%, 8%);
    --bg-primary-light: hsl(0, 0%, 16%);
    --bg-primary-dark: hsl(0, 0%, 12%);

    --font-primary: hsl(0, 0%, 90%);

    --danger-color: hsl(0, 60%, 50%);

    --details-color: hsl(110, 50%, 35%);
    --details-color-dark: hsl(110, 30%, 12%);
    --details-color-light: hsl(110, 30%, 15%);

    --border-color: #333;
}

input,
button {
    background: transparent;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
}

button {
    cursor: pointer;
}

button:hover {
    filter: brightness(90%);
}

a {
    color: inherit;
    text-decoration: none;
}

.btn-primary,
.btn-tertiary,
.btn-danger {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0;
    white-space: nowrap;
    border-radius: 5px;
}

.btn-primary {
    color: var(--font-secondary, --font-primary);
    background-color: var(--details-color);
    padding: .6rem .8rem;
}

.btn-danger {
    color: var(--danger-color);
    font-size: .9rem;
    padding: 0;
}

.btn-tertiary {
    color: var(--details-color);
}

.btn-rounded {
    display: grid;
    place-items: center;
    border-radius: 50%;
    padding: .6rem;
    border: 1px solid var(--border-color);
}

.btn-rounded:hover {
    background: var(--bg-primary-light);
}

header {
    grid-area: header;
    position: sticky;
    z-index: 99;
    top: 0;
    background-color: var(--bg-primary);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.35rem;

    border-bottom: 1px solid var(--border-color);

    box-shadow: 0 0 .25rem rgb(0 0 0 / 0.15);
}

header div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

header .logo-container {
    white-space: nowrap;
    min-width: 22%;
}

header .logo-container [data-header-btn] {
    display: none;
}

header .navigation {
    padding-left: 1rem;
    justify-content: space-between;
    width: 100%;
}
