@import url(./variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.material-icons,
.material-icons-outlined {
    font-size: 1rem !important;
    font-display: swap;
}

body {
    display: grid;
    min-height: 100vh;
    font-family: system-ui, Arial, sans-serif;
    color: var(--font-primary);
    background-color: var(--bg-primary);
}

input,
button {
    background: transparent;
    border: none;
    font: inherit;
    color: inherit;
    outline: none;
}

body[data-theme="dark"] ::-ms-reveal {
    filter: invert(100%);
}

button {
    cursor: pointer;
}

button:hover,
button:focus {
    filter: brightness(80%);
}

input:disabled,
input:disabled~button,
.btn-select:disabled {
    color: inherit !important;
    opacity: .6;
    pointer-events: none;
    background-color: var(--disabled-color);
}

a {
    color: inherit;
    text-decoration: none;
}

.btn,
.btn-select,
.btn-primary,
.btn-secondary,
.btn-tertiary,
.btn-danger {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0;
    white-space: nowrap;
    border-radius: 5px;
}

.btn {
    cursor: default;
}

.btn:hover,
.btn:focus {
    filter: none;
}

.btn-select {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: .5rem .8rem;
}

.btn-select:hover,
.btn-select:focus {
    filter: none;
    background-color: var(--bg-primary-light);
}

.btn-primary {
    color: var(--font-secondary);
    background-color: var(--details-color);
    padding: .6rem .8rem;
}

.btn-secondary {
    border: 1px solid var(--details-color);
    color: var(--details-color);
    padding: .5rem .8rem;
}

.btn-tertiary {
    color: var(--details-color);
}

.btn-danger {
    color: var(--danger-color);
    font-size: .9rem;
    padding: 0;
}

.btn-rounded {
    display: grid;
    place-items: center;
    border-radius: 50%;
    padding: .6rem;
    border: 1px solid var(--border-color);
}

.btn-rounded:hover,
.btn-rounded:focus {
    background: var(--bg-primary-light);
}

header {
    grid-area: header;
    position: sticky;
    z-index: 99;
    top: 0;
    background-color: var(--bg-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.35rem;
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 0 .25rem rgb(0 0 0 / 0.15);
}

header div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

header .logo-container {
    white-space: nowrap;
    min-width: 22%;
}

header .logo-container [data-header-btn] {
    display: none;
}

header .navigation {
    padding-left: 1rem;
    justify-content: space-between;
    width: 100%;
}

.dropdown {
    position: relative;
}

.dropdown .dropdown-content {
    position: absolute;
    top: calc(100% + .25rem);
    display: grid;
    gap: 0.3rem;
    background: var(--bg-primary);
    border: 1px solid var(--border-color);
    padding: .6rem;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-1rem);
    transition: all .3s ease;
}

.dropdown-content.active {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
}

.dropdown .dropdown-content .color-palette {
    border-radius: 3px;
    padding: 0.25rem .6rem;
    aspect-ratio: 1;
    height: 1.3rem;
}

.color-palette.green {
    background-color: var(--green-color);
}

.color-palette.blue {
    background-color: var(--blue-color);
}

.color-palette.yellow {
    background-color: var(--yellow-color);
}