@import "./utils/variables.css";

@import "./pages/not-found.css";
@import "./pages/home.css";
@import "./pages/general.css";
@import "./pages/kanban.css";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: var(--font-family);
    font-size: 62.5%;
}

::-webkit-scrollbar-track {
    background: var(--bg-primary-light);
}

::-webkit-scrollbar-thumb {
    background-color: var(--details-color);
    border-radius: 100px;
}

::-webkit-scrollbar {
    background: var(--details-color-light);
    width: 6px;
}

a {
    color: inherit;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;

    &::-ms-expand {
        display: none;
    }
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    -webkit-user-drag: none;
}

body {
    background-color: var(--bg-secondary);
    color: var(--font-primary);
}

.small-screen {
    display: none;
}

@media(width <=768px) {
    .large-screen {
        display: none;
    }

    .small-screen {
        display: initial;
    }
}

.fa-solid,
.fa-regular {
    vertical-align: middle;
}

.title {
    font-size: 2.4rem;
    font-weight: 600;
}

.center {
    text-align: center;
}

.subtitle {
    font-size: 2rem;
    font-weight: 500;
}

.text {
    font-size: 1.6rem;

    &.small {
        font-size: 1.2rem;
    }

    &.text-icon {
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }

    &.smallest {
        font-size: 1rem;
    }

    &.text-error {
        font-size: 1.4rem;
        color: var(--danger-color);
    }

    &.muted {
        opacity: .7;
    }
}

button {
    font-family: inherit;
}

.btn {
    cursor: pointer;
    background-color: transparent;
    border-radius: var(--radius);
    color: inherit;
    font-size: 1.6rem;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    white-space: nowrap;

    &:hover {
        filter: brightness(90%);
    }

    &.btn-icon i {
        margin-right: .3rem;
    }

    .fa-solid,
    .fa-regular {
        margin-bottom: 0.05rem;
        font-size: 1.2rem;

        @media(width <=768px) {
            font-size: 1.6rem;
        }
    }

    &.block {
        text-align: center;
        display: block;
        padding: .8rem 0;
        width: 100%;

        &.block-small {
            padding: 0.4rem;
        }
    }

    &.btn-input {
        border-radius: 0;
        aspect-ratio: 1;
        width: 3.8rem;
    }

    &.primary {
        color: var(--details-color);
    }

    &.bg-primary {
        background-color: var(--details-color);
        color: var(--font-secondary);
    }

    &.outline-primary {
        border: 1px solid var(--details-color);
        background-color: var(--details-color-light-2);
        color: var(--details-color);
    }

    &.secondary {
        background-color: var(--bg-secondary);
    }

    &.white {
        background-color: var(--bg-primary);
    }

    &.danger {
        color: var(--danger-color);
    }

    &.bg-danger {
        color: var(--font-secondary);
        background-color: var(--danger-color);
    }

    &.outline-danger {
        border: 1px solid var(--danger-color);
        background-color: var(--danger-color-light);
        color: var(--danger-color);
    }

    &.only-icon,
    &.rounded {
        display: grid;
        place-items: center;
        padding: 0;
        height: 3.6rem;
        aspect-ratio: 1;
    }

    &.rounded {
        border-radius: 50%;
    }

    &.bordered {
        border: 1px solid var(--border-color);
    }
}

.divider {
    display: flex;
    margin: 2rem auto;
    width: 100%;
    background-color: var(--border-color);
    height: 1px;
}

.toast .btn i,
.modal .btn i {
    font-size: 1.8rem;
}

.container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.toast {
    position: fixed;
    top: var(--padding);
    right: var(--padding);
    z-index: 999;
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    border: 1px solid var(--border-color);
    box-shadow: var(--shadow-md);
    background-color: var(--bg-primary);
    border-radius: var(--radius);
    overflow: hidden;
    opacity: 0;
    transform: translateX(100%);
    pointer-events: none;
    transition: all var(--screen-transition) ease-in-out;

    &.active {
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
    }

    &.success-toast {

        .toast-banner,
        .toast-icon {
            background-color: var(--details-color);
        }
    }

    &.error-toast {

        .toast-banner,
        .toast-icon {
            background-color: var(--danger-color);
        }
    }

    .toast-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding: 1rem 1.5rem;

        .toast-icon {
            display: grid;
            place-items: center;
            width: 2.4rem;
            aspect-ratio: 1;
            border-radius: 50%;
            color: var(--bg-primary);
        }

        .toast-title {
            font-size: 1.6rem;
            font-weight: 600;
        }

        .toast-text {
            font-size: 1.4rem;
        }

        .btn {
            align-self: flex-start;
            margin-left: 1rem;

            i {
                font-size: 1.4rem;
            }
        }
    }
}

.modal {
    position: fixed;
    background-color: rgb(0 0 0 / .7);
    inset: 0;
    display: grid;
    place-items: center;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity calc(var(--screen-transition) * 0.5) ease-in-out;

    &.active {
        pointer-events: all;
        opacity: 1;

        .modal-dialog {
            transform: scale(1);
        }
    }

    .modal-dialog {
        background-color: var(--bg-primary);
        border-radius: var(--radius);
        box-shadow: var(--shadow-md);
        width: 95%;
        max-width: 500px;
        transform: scale(0.99);
        transition: transform var(--screen-transition) ease-in-out;
        overflow: hidden;

        display: grid;
        grid-template-rows: auto 1fr;
        max-height: 90vh;

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: var(--padding);
            background: var(--bg-secondary);
        }

        .modal-header+form,
        .modal-header+div {
            overflow-y: auto;
            padding: var(--padding);
        }

        .modal-header+div>* {
            padding-top: 0;
            margin-top: 0;
        }

        .modal-header+div:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
        }

        form {
            width: 100%;
        }
    }
}

.loader-container {
    position: fixed;
    background-color: var(--bg-primary);
    inset: 0;
    display: grid;
    place-items: center;
    opacity: 1;
    transition: opacity .3s ease-out;
    z-index: 999;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }

    .spinner {
        border-radius: 50%;
        width: 4rem;
        aspect-ratio: 1;
        border: 4px solid var(--bg-secondary);
        border-left-color: var(--details-color);
        animation: spin 1s linear infinite;
    }
}

.header-wrapper {
    background-color: var(--bg-primary);
    height: 10vh;
    box-shadow: var(--shadow-sm);
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 100;

    ~main {
        margin-top: 10vh;
    }

    .header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: var(--padding);
        height: 100%;

        .header__logo {
            display: flex;
            align-items: center;
            gap: .5rem;

            button i {
                font-size: 1.6rem;
            }

            .logo {
                display: flex;
                align-items: center;
                text-decoration: none;
            }
        }

        .account {
            display: flex;
            align-items: center;
            gap: .5rem;
            cursor: pointer;
            background-color: var(--bg-secondary);
            padding: 0.3rem 0.3rem 0.3rem 1rem;

            .account__details {
                text-align: right;

                .small {
                    font-weight: 500;
                }
            }

            @media(width <=768px) {
                .account__details {
                    display: none;
                }
            }

            .account__avatar {
                border-radius: 50%;
                border: 1px solid var(--border-color);
            }

            .account__arrow {
                transform: translateY(-2px);
                margin-inline: 0.5rem;
            }
        }

        .dropdown {
            position: absolute;
            top: 100%;
            right: var(--padding);
            pointer-events: none;
            overflow: hidden;
            transition: all var(--screen-transition) ease-in-out;
            z-index: 100;
            opacity: 0;

            &.active {
                pointer-events: all;
                opacity: 1;

                .dropdown__menu {
                    height: calc(0.5rem + 1.6rem * 4);
                    transform: translateY(0);
                }
            }

            .dropdown__menu {
                display: grid;
                border-radius: 0 0 var(--radius) var(--radius);
                background-color: var(--bg-primary);
                border: 1px solid var(--border-color);
                overflow: hidden;
                transition: all var(--screen-transition) ease-in-out;
                height: 0;

                .btn {
                    border: none;
                    border-radius: 0;
                    padding: 0.5rem 1rem;
                }
            }
        }
    }
}

.form-wrapper {
    display: grid;
    place-items: center;
    padding: 2rem;
    min-height: 90vh;

    @media(width <=768px) {
        padding: 3rem 0;
    }

    form {
        background-color: var(--bg-primary);
        border-radius: var(--radius);
        border: 1px solid var(--border-color);
        box-shadow: var(--shadow-md);
        padding: 3rem;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 96%;
    max-width: var(--form-width, 100%);
    margin: 0 auto;

    &.form-100 {
        width: 100%;
    }

    .title {
        margin-bottom: 1rem;
    }

    .input-error {
        button {
            color: var(--danger-color);
        }

        input {
            outline-color: var(--danger-color);
            border-color: var(--danger-color);
        }
    }

    .form-group {
        label {
            display: block;
            margin-bottom: .5rem;
        }
    }

    .input-group {
        --group-radius: var(--radius);

        display: flex;
        border: 1px solid transparent;
        border-radius: var(--group-radius);
        position: relative;

        &.input-group-rounded {
            --group-radius: 100px;
        }

        input {
            padding-right: 3.3rem;
            border-radius: var(--group-radius);
        }

        .btn {
            border-radius: var(--group-radius);
            position: absolute;
            top: 50%;
            right: .6rem;
            transform: translateY(-50%);
            width: 3rem;
            border: 1px solid transparent;
            aspect-ratio: 1;

            &:hover {
                filter: unset;
                border-color: var(--border-color);
            }
        }
    }

    textarea {
        resize: none;
    }

    input,
    textarea,
    .select {
        background-color: var(--bg-primary);
        border: 1px solid var(--border-color);
        border-radius: var(--radius);
        font-size: 1.6rem;
        width: 100%;
    }

    input,
    textarea,
    select {
        font-family: inherit;
        padding: 1rem 1.5rem;
    }

    .select {
        display: grid;
        grid-template-areas: "select";
        align-items: center;

        select {
            grid-area: select;
        }

        &::after {
            margin-right: 1.5rem;
            grid-area: select;
            content: "";
            width: 0.8rem;
            justify-self: end;
            height: 0.5rem;
            background-color: var(--font-primary);
            clip-path: polygon(100% 0%, 0 0%, 50% 100%);
        }
    }
}

.editor-toolbar {
    font-size: 1.6rem !important;
}

.editor-toolbar svg {
    margin-inline: .45rem;
}

.CodeMirror-wrap {
    font-size: 1.4rem !important;
}

.markdown-content * {
    margin: revert;
    padding: revert;
}

.markdown-content--normal {
    font-size: 1.6rem !important;
}

.markdown-content--small {
    font-size: 1.1rem !important;
}

.markdown-content--small :first-child {
    margin-top: 0;
    padding-top: 0;
}

.markdown-content--small :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.priority-high {
    background-color: var(--high-priority);
    color: var(--font-secondary);
}

.priority-medium {
    background-color: var(--medium-priority);
    color: var(--font-primary-light);
}

.priority-small {
    background-color: var(--small-priority);
    color: var(--font-primary-light);
}

.completed {
    background-color: var(--details-color-light) !important;
}

.tag {
    padding: .5rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.image-centered {
    display: grid;
    place-items: center;
}