@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

:root {
    --details-color-light: hsl(158, 50%, 90%);
    --details-color-light-2: hsl(158, 50%, 80%);
    --details-color: hsl(158, 45%, 40%);

    --bg-primary: hsl(0, 0%, 100%);
    --bg-secondary: hsl(0, 0%, 96%);

    --font-primary: hsl(0, 0%, 10%);
    --font-secondary: hsl(0, 0%, 100%);

    --border-color: hsl(0, 0%, 80%);
    --danger-color: hsl(0, 93%, 61%);
    --danger-color-light: hsl(0, 60%, 95%);

    --high-priority: hsl(50, 50%, 88%);
    --medium-priority: hsl(50, 50%, 97%);
    --small-priority: var(--bg-primary);

    --aside-width: 25%;
    --padding: 1.5rem;
    --radius: 5px;
}

@media(width <=768px) {
    :root {
        --padding: 1rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font: inherit;
}

::-webkit-scrollbar-track {
    background: var(--bg-primary-light);
}

::-webkit-scrollbar-thumb {
    background-color: var(--details-color);
    border-radius: 100px;
}

::-webkit-scrollbar {
    width: 6px;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

select::-ms-expand {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: var(--radius);
    object-fit: cover;
    display: flex;
    margin: 0 auto;

    &.small-screen {
        display: none;
    }
}

@media(width <=768px) {
    img.large-screen {
        display: none;
    }

    img.small-screen {
        display: flex;
    }
}

html,
body {
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: var(--bg-secondary);
    color: var(--font-primary);
}

body.menu-active {
    overflow-y: hidden;
}

.title {
    font-size: 2.4rem;
    font-weight: 600;
}

.center {
    text-align: center;
}

.subtitle {
    font-size: 2rem;
    font-weight: 400;
}

.text {
    font-size: 1.6rem;

    &.small {
        font-size: 1.2rem;
    }

    &.text-icon {
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }

    &.smallest {
        font-size: 1rem;
    }

    &.text-error {
        color: var(--danger-color);
    }

    &.muted {
        opacity: .7;
    }
}

.btn {
    cursor: pointer;
    background-color: transparent;
    border-radius: var(--radius);
    color: inherit;
    font-size: 1.6rem;
    border: none;
    text-decoration: none;
    transition: all .3s ease;

    &:hover {
        filter: brightness(85%);
    }

    &.btn-icon i {
        margin-right: .3rem;
    }

    i {
        vertical-align: middle;
        margin-bottom: 0.05rem;
        font-size: 1.2rem;

        @media(width <=768px) {
            font-size: 1.6rem;
        }
    }

    &.block {
        text-align: center;
        display: block;
        padding: .8rem 0;
        width: 100%;
    }

    &.btn-input {
        border-radius: 0;
        aspect-ratio: 1;
        width: 3.8rem;
    }

    &.bg-primary {
        background-color: var(--details-color);
        color: var(--font-secondary);
    }

    &.primary {
        color: var(--details-color);
    }

    &.secondary {
        background-color: var(--bg-secondary);
    }

    &.white {
        background-color: var(--bg-primary);
    }

    &.danger {
        color: var(--danger-color);
    }

    &.bg-danger {
        color: var(--font-secondary);
        background-color: var(--danger-color);
    }

    &.outline-danger {
        border: 1px solid var(--danger-color);
        background-color: var(--danger-color-light);
        color: var(--danger-color);
    }

    &.rounded {
        border-radius: 50%;
        display: grid;
        place-items: center;
        padding: 0;
        height: 3.6rem;
        aspect-ratio: 1;
    }

    &.bordered {
        border: 1px solid var(--border-color);
    }
}

.divider {
    display: flex;
    margin: 2rem auto;
    width: 100%;
    background-color: var(--border-color);
    height: 1px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 96%;
    max-width: var(--form-width, 100%);
    margin: 0 auto;

    .title {
        margin-bottom: 1rem;
    }

    .form-group {
        label {
            display: block;
            margin-bottom: .5rem;
        }
    }

    .input-group {
        --group-radius: var(--radius);
        display: flex;
        border: 1px solid transparent;
        border-radius: var(--group-radius);
        position: relative;

        &.input-group-rounded {
            --group-radius: 100px;
        }

        &.input-error {
            button {
                color: var(--danger-color);
            }

            input {
                outline-color: var(--danger-color);
                border-color: var(--danger-color);
            }
        }

        &.input-group-lg {
            input {
                padding: 1.5rem 10rem 1.5rem 2rem;
                border-radius: var(--group-radius);
            }

            .btn {
                border-radius: var(--group-radius);
                width: 4rem;

                &:first-of-type {
                    right: 5.5rem;
                }

                &:last-of-type {
                    right: 1rem;
                }
            }
        }

        input {
            padding-right: 3.3rem;
        }

        .btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 3rem;
            border: 1px solid transparent;
            aspect-ratio: 1;

            &:last-of-type {
                right: .6rem;
            }

            &:hover {
                filter: unset;
                border-color: var(--border-color);
            }
        }
    }

    input,
    .select {
        background-color: var(--bg-primary);
        border: 1px solid var(--border-color);
        border-radius: var(--radius);
        font-size: 1.6rem;
        width: 100%;
    }

    input,
    select {
        padding: 1rem 1.5rem;
    }

    .select {
        display: grid;
        grid-template-areas: "select";
        align-items: center;

        select {
            grid-area: select;
        }

        &::after {
            margin-right: 1.5rem;
            grid-area: select;
            content: "";
            width: 0.8em;
            justify-self: end;
            height: 0.5em;
            background-color: var(--font-primary);
            clip-path: polygon(100% 0%, 0 0%, 50% 100%);
        }
    }
}

.header-wrapper {
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    background-color: var(--bg-primary);
    border-bottom: 1px solid var(--border-color);
    height: 10vh;

    @media(width <=768px) {
        display: flex;
        justify-content: space-between;
        position: sticky;
        z-index: 900;
        top: 0;
    }

    .logo-container,
    .information-container {
        padding: 1rem var(--padding);
    }

    .logo-container {
        display: flex;
        align-items: center;
        background-color: var(--bg-primary);
        gap: 1rem;

        @media(width <=768px) {
            .title {
                display: none;
            }
        }

        .btn-mobile {
            width: 3.6rem;
            aspect-ratio: 1;

            i {
                font-size: 1.6rem;
            }
        }

        .logo {
            display: flex;
            align-items: center;
            text-decoration: none;
        }
    }

    .information-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(width <=768px) {
            gap: 1rem;
        }

        .right-content {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-left: auto;

            .user-info {
                display: flex;
                align-items: center;
                gap: .5rem;

                div {
                    text-align: right;
                }

                @media(width <=768px) {
                    div {
                        display: none;
                    }
                }

                .user-profile {
                    border-radius: 50%;
                    border: 1px solid var(--border-color);
                }
            }

        }
    }
}

.home-wrapper {
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    position: relative;
    height: 90vh;

    @media(width <=768px) {
        grid-template-columns: auto;
        height: auto;
    }

    .topic-container {
        border-right: 1px solid var(--border-color);
        background-color: var(--bg-primary);
        padding: var(--padding);
        overflow-y: auto;

        @media(width <=768px) {
            position: fixed;
            min-height: 90vh;
            top: 10vh;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 899;
        }

        .topic-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .topic-nav {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            gap: 1rem;

            .btn-topic {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
                padding: 1rem 2rem;
                position: relative;
                font-weight: 400;
                border: 1px solid var(--border-color);

                &.router-link-exact-active {
                    background-color: var(--details-color);
                    color: var(--font-secondary);
                    cursor: default;

                    .muted {
                        opacity: 1;
                    }
                }

                &:hover {
                    filter: unset;

                    &:not(.router-link-exact-active) {
                        background-color: var(--bg-secondary);
                    }
                }

                .topic-actions {
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    .btn {
                        border: 1px solid transparent;
                    }

                    .btn:hover {
                        filter: unset;
                        border-color: var(--border-color);
                    }
                }
            }

            ~button {
                margin-top: 2rem;
            }
        }

        form {
            width: 100%;
        }
    }

    .task-container {
        padding: var(--padding);
        overflow-x: auto;

        &.centered {
            display: grid;
            place-items: center;
            height: 100%;
        }

        .form-container {
            margin: 0 0 1rem;
            border-radius: var(--radius);

            >form:first-of-type {
                max-width: 75%;
                margin: 0 auto 3rem;

                @media(width <=768px) {
                    max-width: unset;
                    width: 100%;
                }
            }

            .form-container-row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 5rem;

                @media(width <=768px) {
                    flex-wrap: wrap;
                    gap: 1rem;

                    form {
                        width: 100%;
                    }
                }
            }
        }

        .task-nav {
            display: grid;
            gap: 0.6rem;
            padding-bottom: 5rem;

            .task {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid var(--border-color);
                padding: 1.4rem var(--padding);
                border-radius: var(--radius);
                position: relative;
                background-color: var(--bg-primary);
                transition: box-shadow .3s ease;

                &.priority-high {
                    background-color: var(--high-priority);

                    &:not(.completed) .right-content>button {
                        background-color: var(--medium-priority);
                    }
                }

                &.priority-medium {
                    background-color: var(--medium-priority);

                    &:not(.completed) .right-content>button {
                        background-color: var(--small-priority);
                    }
                }

                &.priority-small {
                    background-color: var(--small-priority);
                }

                &.completed {
                    background-color: var(--details-color-light);
                }

                &:hover {
                    box-shadow: 0 .25rem .5rem rgb(0 0 0 / .15);
                }

                .right-content {
                    display: flex;
                    align-items: center;
                    gap: 2rem;

                    .task-information {
                        display: flex;
                        flex-direction: column;
                        gap: 0.4rem;

                        p.text {
                            font-size: 2rem;
                        }

                        p.task-information-small {
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                        }
                    }
                }

                .task-action {
                    display: flex;
                    gap: 1rem;
                }
            }
        }
    }
}

.calendar-wrapper {
    padding: var(--padding);
    overflow-x: auto;

    .calendar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        @media(width <=768px) {
            flex-direction: column;
            gap: 1rem;
        }
    }

    .calendar {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;

        .calendar-item {
            display: flex;
            flex-direction: column;
            background-color: var(--bg-primary);
            padding: var(--padding);
            border: 1px solid var(--border-color);
            border-radius: var(--radius);
            text-decoration: none;
            height: 100%;

            .subtitle {
                margin-bottom: 1.2rem;
            }

            .tasks-content {
                display: grid;
                gap: 1rem;

                .task {
                    display: grid;
                    gap: 0.3rem;
                    padding: calc(var(--padding) / 2);
                    border: 1px solid var(--border-color);
                    border-radius: var(--radius);

                    &.priority-high {
                        background-color: var(--high-priority);
                    }

                    &.priority-medium {
                        background-color: var(--medium-priority);
                    }

                    &.priority-small {
                        background-color: var(--small-priority);
                    }

                    &.completed {
                        background-color: var(--details-color-light);
                    }

                    .task-bottom {
                        display: flex;
                        gap: 1.2rem;
                    }
                }
            }
        }
    }
}

.form-wrapper {
    display: grid;
    place-items: center;
    padding: 2rem;
    min-height: 90vh;

    @media(width <=768px) {
        padding: 3rem 0;
    }

    form {
        background-color: var(--bg-primary);
        border-radius: var(--radius);
        box-shadow: 0 .5rem 1rem rgb(0 0 0 / .15);
        padding: 3rem;
    }
}

.not-found-wrapper {
    display: grid;
    place-items: center;
    padding: 2rem;
    min-height: 90vh;

    .text {
        margin-top: 1rem;
    }
}

.toast {
    position: fixed;
    bottom: 1.6rem;
    right: 1.6rem;
    padding: .8rem 1.6rem;
    border-radius: .3rem;
    box-shadow: 0 .5rem 1rem rgb(0 0 0 / .15);
    color: #fff;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;

    @media(width <=768px) {
        bottom: 0;
        right: 0;
        left: 0;
        padding: 1rem 2rem;
    }

    .toast-text {
        display: inline-flex;
        align-items: center;
        gap: 0.6rem;
    }

    &.success-toast {
        background-color: var(--details-color);
    }

    &.error-toast {
        background-color: var(--danger-color);
    }
}

.modal {
    position: fixed;
    background-color: rgb(0 0 0 / .7);
    inset: 0;
    display: grid;
    place-items: center;
    z-index: 999;

    .modal-dialog {
        background-color: var(--bg-primary);
        border-radius: var(--radius);
        box-shadow: 0 .5rem 1rem rgb(0 0 0 / .15);
        width: 95%;
        max-width: 500px;
        padding: var(--padding);

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 3rem;
        }

        form {
            width: 100%;
        }
    }
}

.toast .btn i,
.modal .btn i {
    font-size: 1.8rem;
}

.loader {
    position: absolute;
    background-color: var(--bg-primary);
    display: grid;
    place-items: center;
    inset: 0;
    z-index: 999;

    .loader-spinner {
        border: 5px solid var(--bg-primary-light);
        border-left-color: var(--details-color);
        width: 6rem;
        aspect-ratio: 1;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
}