@import url(./base.css);

@keyframes topic-animation {
    from {
        transform: translateX(-.6rem);
        opacity: 0;
    }

    to {
        transform: translateX(0rem);
        opacity: 1;
    }
}

body {
    grid-template: "header header" 10vh "topics tasks" minmax(90vh, auto) / 23% 1fr;
}

main {
    grid-area: tasks;
    padding: 1rem 1rem 4rem;
}

header .navigation h2 {
    font-size: 1.3rem;
    font-weight: 400;
}

header .logo-container {
    border-right: 1px solid var(--border-color);
}

@media (max-width: 768px) {
    body {
        display: initial;
        overflow-x: hidden;
    }

    header {
        height: 10vh;
        padding: 1rem;
    }

    main {
        padding: 1rem;
    }

    header .logo-container {
        min-width: auto;
        border-left: none;
    }

    header .navigation p {
        display: none;
    }

    .logo-container button[data-header-btn] {
        display: grid;
        margin-right: 1rem;
    }

    .logo-container .logo {
        display: none;
    }

    .topics-container {
        position: fixed;
        top: 0;
        width: 90vw;
        height: 90vh;
        margin-top: 10vh;
        overflow-y: auto;
        transform: translateX(-100%);
        transition: transform .3s ease-in-out;
        z-index: 98;
    }

    body.topics-container-active {
        overflow: hidden;
    }

    body.topics-container-active .topics-container {
        transform: translateX(0%);
    }
}

.topics-container {
    grid-area: topics;
    border-right: 1px solid var(--border-color);
    background-color: var(--bg-primary);
    padding-bottom: 3rem;
}

.topics-content {
    position: relative;
}

.topics-content [data-topics-loader] .loader {
    width: 1.6rem;
}

.topics-container nav {
    display: grid;
    align-items: flex-start;
    margin-top: 0.9rem;
    min-height: 2.4rem;
}

.topics-container .topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease-in-out;
    text-align: left;
    padding: .5rem .5rem .5rem 1.35rem;
    border-radius: 0 50px 50px 0;
    animation: topic-animation .3s ease-in forwards;
    opacity: 0;
    position: relative;
}

.topic .topic-actions {
    display: flex;
    gap: 0.3rem;
}

.topic.empty {
    justify-content: center;
    background: var(--danger-color);
    border-radius: 5px;
    padding: 0.5rem;
    color: var(--font-secondary);
    margin: 0 .8rem;
    animation: none;
    opacity: 1;
}

body[data-theme="dark"] .topic.empty {
    color: var(--font-primary);
}

.topics-container .topic:hover,
.topics-container .topic:focus {
    filter: none;
}

.topic a {
    border-color: transparent;
    padding: .4rem;
}

.topic a:hover,
.topic a:focus {
    background-color: var(--bg-primary-dark);
}

.topic.active a:hover,
.topic.active a:focus {
    background-color: var(--details-color-dark);
}

.topics-container .topic:hover:not(.empty, .active),
.topics-container .topic:focus:not(.empty, .active) {
    background-color: var(--bg-primary-light);
}

.topic.active:not(.empty) {
    background-color: var(--details-color-light);
    border-left: 6px solid var(--details-color);
    color: var(--details-color);
}

.divider {
    display: flex;
    margin: 1rem auto;
    background-color: var(--border-color);
    width: 90%;
    height: 1px;
}

.input-group {
    display: flex;
}

.input-group-rounded input {
    padding: .9rem 1.3rem !important;
}

.input-group-rounded> :first-child {
    border-radius: 25px 0 0 25px !important;
    padding: .9rem;
}

.input-group-rounded> :last-child {
    border-radius: 0 25px 25px 0 !important;
    padding: .9rem;
}

.input-group> :first-child {
    border-radius: 5px 0 0 5px;
    border-right-color: transparent;
    border: 1px solid var(--border-color);
}

.input-group> :last-child {
    border: 1px solid var(--border-color);
    border-left-color: transparent;
    border-radius: 0 5px 5px 0;
}

.input-group button {
    align-items: center;
    padding: .6rem;
}

.input-group input,
.input-group textarea {
    padding: .5rem .8rem;
    max-width: 600px;
    width: 100%;
}

[data-add-topic],
[data-delete-topics] {
    margin: 0 auto;
    width: 90%;
}

[data-delete-topics],
[data-delete-tasks] {
    display: none;
}

[data-add-task] {
    display: grid;
    place-items: center;
    margin-bottom: 2rem;
    width: 100%;
}

[data-add-task] .input-group {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 600px;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 0 .3rem rgb(0 0 0 / 0.15);
    border: 1px solid var(--border-color);
    transition: box-shadow .3s ease;
}

[data-add-task] #task_desc,
[data-add-task] .btn-primary,
[data-add-task] button[data-voice-btn] {
    border: none;
    transition: all .3s ease;
}

[data-add-task] button[data-voice-btn] {
    display: grid;
    place-items: center;
    color: var(--details-color);
    padding: 0 .8rem 0 .3rem;
}

[data-add-task] button span {
    font-size: 1.3rem !important;
}

[data-add-task] .input-group:focus-within {
    box-shadow: 0 0 1rem rgb(0 0 0 / 0.15);
}

.filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 0.3rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 0.3rem;
}

.filters-container button[data-download-tasks] {
    padding: 0.6rem;
}

.filter-option {
    position: relative;
}

.filter-option [data-filter-btn],
.filters-container #filter-search-input,
.filters-container .filter-search-input+.btn {
    transition: all .3s ease;
}

.filters-container .filter-buttons {
    display: flex;
    gap: 0.3rem;
}

.filter-option .filter-option-dropdown {
    position: absolute;
    top: calc(100% + .3rem);
    left: 0;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    background-color: var(--bg-primary);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    display: grid;
    padding: .3rem 0;
    pointer-events: none;
    transform: translateY(-10%);
    opacity: 0;
    transition: all .3s ease-in;
}

.filter-option-dropdown.active {
    transform: translateY(0);
    pointer-events: all;
    opacity: 1;
}

.filter-option-dropdown button {
    cursor: pointer;
    padding: .4rem 1rem;
}

.filter-option-dropdown button.active {
    background-color: var(--details-color-light);
    color: var(--details-color);
}

.filter-option-dropdown button:hover,
.filter-option-dropdown button:focus {
    filter: none;
}

.filter-option-dropdown button:not(.active):hover,
.filter-option-dropdown button:not(.active):focus {
    background-color: var(--bg-primary-light);
}

.tasks-container {
    display: grid;
    place-items: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.tasks-container-body {
    display: grid;
    place-items: center;
    width: inherit;
    gap: .6rem;
}

.tasks-container-body.pdf_save {
    padding: 1rem;
}

.task {
    display: flex;
    flex-direction: column;
    width: inherit;
}

.task.expanded .task_content {
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}

.task.expanded .expand-content span {
    transform: rotate(180deg);
}

.task.expanded .task_expand {
    display: grid;
}

.task .task_content {
    border: 1px solid var(--border-color);
    padding: .6rem 1rem;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}

.task .btn-rounded {
    padding: 0.5rem;
}

.task.completed {
    opacity: .8;
}

.task.completed .left .task-date,
.task.completed .left .task-desc {
    text-decoration: line-through;
}

.task .left,
.task .right {
    display: flex;
}

.task .right {
    align-items: center;
    gap: .6rem;
}

.task .left {
    align-items: flex-start;
    gap: 1rem;
}

.task .right .expand-content {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    background-color: var(--bg-primary-light);
    border-radius: 15px;
    padding: 0.2rem 0.6rem;
    font-size: .8rem;
}

.task .expand-content span {
    transition: all .3s ease;
}

.task .task_expand {
    display: none;
    gap: 0.6rem;
    border: 1px solid var(--border-color);
    padding: .6rem 1rem;
    border-radius: 0 0 5px 5px;
}

.task .left button.btn-rounded {
    margin-top: 0.4rem;
}

.task.completed .left button.btn-rounded {
    background-color: var(--details-color);
    color: var(--font-secondary, --font-primary);
}

.task .left .task-desc {
    font-size: 1.2rem;
    font-weight: 500;
}

.task .left .task-date {
    margin-top: 0.25rem;
    font-size: .9rem;
}

.task .note-form {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.task .note-form input {
    max-width: unset;
}

.task .note-form select {
    padding: .4rem .8rem;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

body[data-theme="dark"]  .task .note-form select option  {
    color: var(--font-secondary);
}

.task .notes_content {
    display: none;
    gap: 0.6rem;
}

.task .notes_content.with_notes {
    display: grid;
}

.task .note {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.task .note:first-of-type {
    padding-top: .4rem;
    margin-top: 0.8rem;
    border-top: 1px solid var(--border-color);
}

.task .note a {
    text-decoration: underline;
}

.tasks-container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
    width: inherit;
}

.tasks-container-footer button[data-delete-tasks] {
    width: min-content;
}

.tasks-container-footer span {
    font-size: .8rem;
}

.loader-container {
    position: absolute;
    inset: 0;
    z-index: 1;
    display: grid;
    place-items: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 100ms ease;
}

.loader-container.active {
    opacity: 1;
}

.loader-container .loader {
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid transparent;
    border-left-color: var(--details-color);
    animation: loader 1s infinite linear;
}

.modal {
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0 / 0.6);
    backdrop-filter: blur(.15rem);
    width: 100%;
    height: 100%;
    z-index: 999;

    display: grid;
    place-items: center;
    opacity: 0;
    transition: all .3s ease;
    pointer-events: none;
}

.modal.active {
    pointer-events: all;
    opacity: 1;
}

.modal form {
    display: grid;
    gap: .6rem;
    border-radius: 5px;
    padding: 1rem;
    width: calc(100% - 1rem);
    max-width: 400px;
    transition: all .3s ease;
    border: 1px solid var(--border-color);
    background-color: var(--bg-primary);
}

.modal form textarea {
    resize: none;
}

.modal form .form-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1rem;
}