body[data-theme="light"] {
    --green-color: #02a267;
    --blue-color: #0057FF;
    --yellow-color: #FBB500;
}

body[data-theme="dark"] {
    --green-color: #61bd9b;
    --blue-color: #5c92ff;
    --yellow-color: #FFD25E;
}

body[data-theme="light"][data-palette="green"] {
    --details-color: hsl(158, 98%, 32%);
    --details-color-dark: hsl(158, 50%, 82%);
    --details-color-light: hsl(158, 50%, 95%);
}

body[data-theme="dark"][data-palette="green"] {
    --details-color: hsl(158, 41%, 56%);
    --details-color-dark: hsl(158, 30%, 22%);
    --details-color-light: hsl(158, 30%, 12%);
}

body[data-theme="light"][data-palette="blue"] {
    --details-color: hsl(220, 100%, 50%);
    --details-color-dark: hsl(220, 50%, 82%);
    --details-color-light: hsl(220, 50%, 95%);
}

body[data-theme="dark"][data-palette="blue"] {
    --details-color: hsl(220, 100%, 68%);
    --details-color-dark: hsl(220, 30%, 22%);
    --details-color-light: hsl(220, 30%, 12%);
}

body[data-theme="light"][data-palette="yellow"] {
    --details-color: hsl(43, 100%, 49%);
    --details-color-dark: hsl(43, 50%, 82%);
    --details-color-light: hsl(43, 50%, 95%);
}

body[data-theme="dark"][data-palette="yellow"] {
    --details-color: hsl(43, 100%, 68%);
    --details-color-dark: hsl(43, 30%, 22%);
    --details-color-light: hsl(43, 30%, 12%);
}

body[data-theme="light"] {
    --bg-primary: hsl(0, 0%, 100%);
    --bg-primary-light: hsl(0, 0%, 96%);
    --bg-primary-dark: hsl(0, 0%, 80%);
    --font-primary: #000;
    --font-secondary: #fff;
    --danger-color: hsl(0, 100%, 46%);
    --border-color: #ddd;
    --disabled-color: hsl(0, 0%, 93%);
}

body[data-theme="dark"] {
    --bg-primary: hsl(0, 0%, 8%);
    --bg-primary-light: hsl(0, 0%, 16%);
    --bg-primary-dark: hsl(0, 0%, 12%);
    --font-primary: hsl(0, 0%, 90%);
    --font-secondary: hsl(0, 0%, 15%);
    --danger-color: hsl(0, 93%, 61%);
    --border-color: hsl(0, 0%, 20%);
    --disabled-color: hsl(0, 0%, 15%);
}