@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1rem !important;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

body[data-theme="light"] {
    --bg-primary: hsl(0, 0%, 100%);
    --bg-primary-100: hsl(0, 0%, 96%);
    --bg-primary-300: hsl(0, 0%, 80%);

    --font-primary: hsl(206, 6%, 25%);
    --font-secondary: hsl(0, 0%, 100%);

    --danger-color: hsl(0, 90%, 60%);

    --details-color: hsl(110, 50%, 38%);
    --details-color-50: hsl(110, 50%, 95%);
    --details-color-500: hsl(110, 50%, 30%);

    --border-color: #ddd;
}

body[data-theme="dark"] {
    --bg-primary: hsl(0, 0%, 8%);
    --bg-primary-100: hsl(0, 0%, 12%);
    --bg-primary-300: hsl(0, 0%, 28%);

    --font-primary: hsl(0, 0%, 100%);
    --font-secondary: hsl(0, 0%, 100%);

    --danger-color: hsl(0, 65%, 30%);

    --details-color: hsl(110, 60%, 35%);
    --details-color-50: hsl(110, 35%, 10%);
    --details-color-500: hsl(110, 50%, 15%);

    --border-color: #333;
}

input,
button {
    background: transparent;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

button:hover {
    filter: brightness(80%);
}

.btn-primary,
.btn-danger {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0;
    white-space: nowrap;
    border-radius: 5px;
    font-weight: 700;
}

.btn-primary {
    color: var(--font-secondary);
    background-color: var(--details-color);
    padding: .6rem .8rem;
}

.btn-danger {
    border: 1px solid var(--danger-color);
    color: var(--danger-color);
    padding: .4rem .6rem;
}

.btn-rounded {
    display: grid;
    place-items: center;
    border-radius: 50%;
    padding: .6rem;
    border: 1px solid var(--border-color);
}

form[data-add-task] {
    margin-bottom: 2rem;
}

.input-group {
    display: flex;
}

.input-group:not(.form-cell)> :first-child {
    border-radius: 5px 0 0 5px;
    border-right-color: transparent;
    border: 1px solid var(--border-color);
}

.input-group:not(.form-cell)> :last-child {
    border: 1px solid var(--border-color);
    border-left-color: transparent;
    border-radius: 0 5px 5px 0;
}

.input-group button {
    align-items: center;
    padding: .6rem;
}

.input-group input {
    padding: .5rem .8rem;
    max-width: 300px;
    width: 100%;
}

.input-group.form-cell .material-icons {
    display: grid;
    place-items: center;
    padding: .6rem .25rem .6rem .6rem;
}

.input-group.form-cell input {
    max-width: unset;
    padding: .8rem;
}

label {
    display: block;
    margin-bottom: 0.2rem;
}

body {
    display: grid;
    grid-template: "header header" 10vh
        "topics tasks" minmax(90vh, auto) / 23% 1fr;
    min-height: 100vh;

    color: var(--font-primary);
    background-color: var(--bg-primary);

    font-family: Roboto, Arial, sans-serif;
}

header {
    grid-area: header;
    position: sticky;
    z-index: 99;
    top: 0;
    background-color: var(--bg-primary);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.35rem;

    border-bottom: 1px solid var(--border-color);
    font-size: 1.3rem;

    box-shadow: 0 0 .25rem rgb(0 0 0 / 0.15);
}

header div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

header [data-header-btn] {
    display: none;
}

@media (max-width: 768px) {
    body {
        display: initial;
        overflow-x: hidden;
    }

    header {
        padding: 1rem;
        height: 10vh;
    }

    header .btn-rounded {
        display: grid;
    }

    header .logo {
        display: none;
    }

    .topics-container {
        position: fixed;
        top: 0;
        width: 90vw;
        height: 90vh;
        margin-top: 10vh;
        overflow-y: auto;
        transform: translateX(-100%);
        transition: transform .3s ease-in-out;
        z-index: 98;
    }

    body.topics-container-active {
        overflow: hidden;
    }

    body.topics-container-active .topics-container {
        transform: translateX(0%);
    }

    main {
        padding: 1rem;
    }
}

header img {
    border-radius: 50%;
}

.topics-container {
    grid-area: topics;
    border-right: 1px solid var(--border-color);
    background-color: var(--bg-primary);
    padding-bottom: 3rem;
}

.topics-container nav {
    display: grid;
    margin-top: 0.9rem;
}

.topics-container .topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease-in-out;
    text-align: left;
    padding: .8rem 1.35rem;
    border-radius: 0 50px 50px 0;
}

.topics-container .topic:hover {
    filter: none;
}

.topics-container .topic:hover:not(.empty) {
    background-color: var(--bg-primary-100);
}

.topic.empty {
    justify-content: center;
    background: var(--danger-color);
    border-radius: 5px;
    padding: 0.8rem 1.3rem;
    color: var(--font-secondary);
    margin: 0 .8rem;
}

.topics-container .topic.active:not(.empty) {
    background-color: var(--details-color-50);
    border-left: 6px solid var(--details-color);
    color: var(--details-color);
}

.divider {
    display: flex;
    margin: 1rem auto;
    background-color: var(--border-color);
    width: 90%;
    height: 1px;
}

[data-add-topic],
[data-delete-topics] {
    margin: 0 auto;
    width: 90%;
}

[data-delete-topics],
[data-delete-tasks] {
    display: none;
}

main {
    grid-area: tasks;
    padding: 1.9rem 1rem 4rem;
}

.tasks-container {
    position: relative;
    border: 1px solid var(--border-color);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-width: 100%;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

table thead :last-child {
    font-weight: 500;
}

table tr {
    border-bottom: 1px solid var(--border-color);
}

table tr[last-row] {
    border-bottom: none;
}

table tr:hover:not(.completed-cell-task, .table-form-row) {
    background-color: var(--bg-primary-100);
}

table td {
    white-space: nowrap;
}

table th:not(.table-form-cell),
table td:not(.actions-cell) {
    padding: 0.8rem;
}

table .message-cell {
    text-align: center;
}

table .completed-cell-task {
    background-color: var(--details-color-50);
}

table .completed-cell-task .actions-cell [data-action="change-status"] {
    background-color: var(--details-color);
    color: var(--font-secondary);
}

.table-form-cell {
    position: relative;
}

.table-form-cell::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--details-color);
    bottom: 0;
    left: 0;
    transition: all .3s ease;
}

.table-form-cell:focus-within::before {
    width: 100%;
}

table .actions-cell {
    display: flex;
    gap: .25rem;
    padding: 0.3rem;
}

table .actions-cell input {
    accent-color: var(--details-color);
    width: min-content;
}

table .actions-cell button {
    display: grid;
    place-items: center;
    background-color: var(--bg-primary-300);
    border-radius: 3px;
    padding: 0.6rem;
}

.loader-container {
    position: absolute;
    inset: 0;
    z-index: 1;
    background: var(--bg-primary);
    display: grid;
    place-items: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s ease;
}

[data-delete-tasks] {
    margin-top: .8rem;
    width: min-content;
}

.loader-container.active {
    opacity: 1;
}

.loader-container.active .loader {
    animation: loader 1s infinite linear;
}

.loader-container .loader {
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid transparent;
    border-left-color: var(--details-color);
}

@keyframes loader {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}