@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1rem !important;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

body[data-theme="light"] {
    --bg-primary: hsl(0, 0%, 100%);
    --bg-primary-light: hsl(0, 0%, 96%);
    --bg-primary-dark: hsl(0, 0%, 80%);

    --font-primary: hsl(206, 6%, 25%);
    --font-secondary: hsl(0, 0%, 100%);

    --danger-color: hsl(0, 90%, 60%);

    --details-color: hsl(110, 50%, 38%);
    --details-color-dark: hsl(110, 50%, 82%);
    --details-color-light: hsl(110, 50%, 95%);

    --border-color: #ddd;
}

body[data-theme="dark"] {
    --bg-primary: hsl(0, 0%, 8%);
    --bg-primary-light: hsl(0, 0%, 16%);
    --bg-primary-dark: hsl(0, 0%, 12%);

    --font-primary: hsl(0, 0%, 90%);

    --danger-color: hsl(0, 60%, 50%);

    --details-color: hsl(110, 50%, 35%);
    --details-color-dark: hsl(110, 30%, 12%);
    --details-color-light: hsl(110, 30%, 15%);

    --border-color: #333;
}

input,
button {
    background: transparent;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
}

button {
    cursor: pointer;
}

button:hover {
    filter: brightness(90%);
}

a {
    color: inherit;
    text-decoration: none;
}

.btn-primary,
.btn-danger {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0;
    white-space: nowrap;
    border-radius: 5px;
}

.btn-primary {
    color: var(--font-secondary, --font-primary);
    background-color: var(--details-color);
    padding: .6rem .8rem;
}

.btn-danger {
    color: var(--danger-color);
    padding: 0;
}

.btn-rounded {
    display: grid;
    place-items: center;
    border-radius: 50%;
    padding: .6rem;
    border: 1px solid var(--border-color);
}

.btn-rounded:hover {
    background: var(--bg-primary-light);
}

.input-group {
    display: flex;
}

.input-group-rounded:not(.form-cell)> :first-child {
    border-radius: 25px 0 0 25px !important;
    padding: .9rem;
}

.input-group-rounded:not(.form-cell)> :last-child {
    border-radius: 0 25px 25px 0 !important;
    padding: .9rem;
}

.input-group:not(.form-cell)> :first-child {
    border-radius: 5px 0 0 5px;
    border-right-color: transparent;
    border: 1px solid var(--border-color);
}

.input-group:not(.form-cell)> :last-child {
    border: 1px solid var(--border-color);
    border-left-color: transparent;
    border-radius: 0 5px 5px 0;
}

.input-group button {
    align-items: center;
    padding: .6rem;
}

.input-group input {
    padding: .5rem .8rem;
    max-width: 600px;
    width: 100%;
}

.input-group.form-cell .material-icons {
    display: grid;
    place-items: center;
    padding: .6rem .25rem .6rem .6rem;
}

.input-group.form-cell input {
    max-width: unset;
    padding: .8rem;
}

label {
    display: block;
    margin-bottom: 0.2rem;
}

body {
    display: grid;
    grid-template: "header header" 10vh
        "topics tasks" minmax(90vh, auto) / 23% 1fr;
    min-height: 100vh;

    color: var(--font-primary);
    background-color: var(--bg-primary);

    font-family: Roboto, Arial, sans-serif;
}

header {
    grid-area: header;
    position: sticky;
    z-index: 99;
    top: 0;
    background-color: var(--bg-primary);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.35rem;

    border-bottom: 1px solid var(--border-color);
    font-size: 1.3rem;

    box-shadow: 0 0 .25rem rgb(0 0 0 / 0.15);
}

header div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

header .logo-container {
    border-right: 1px solid var(--border-color);
    min-width: 22%;
}

header .logo-container [data-header-btn] {
    display: none;
}

header .logo-container img {
    border-radius: 3px;
}

header .navigation {
    padding-left: 1rem;
    justify-content: space-between;
    width: 100%;
}

header .navigation h2 {
    font-size: 1.3rem;
    font-weight: 400;
}

@media (max-width: 768px) {
    body {
        display: initial;
        overflow-x: hidden;
    }

    header {
        padding: 1rem;
        height: 10vh;
    }

    header .logo-container {
        min-width: auto;
        border-left: none;
    }

    .logo-container button[data-header-btn] {
        display: grid;
        margin-right: 1rem;
    }

    .logo-container .logo {
        display: none;
    }

    .topics-container {
        position: fixed;
        top: 0;
        width: 90vw;
        height: 90vh;
        margin-top: 10vh;
        overflow-y: auto;
        transform: translateX(-100%);
        transition: transform .3s ease-in-out;
        z-index: 98;
    }

    body.topics-container-active {
        overflow: hidden;
    }

    body.topics-container-active .topics-container {
        transform: translateX(0%);
    }

    main {
        padding: 1rem;
    }
}

.topics-container {
    grid-area: topics;
    border-right: 1px solid var(--border-color);
    background-color: var(--bg-primary);
    padding-bottom: 3rem;
}

.topics-container nav {
    display: grid;
    margin-top: 0.9rem;
}

.topics-container .topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease-in-out;
    text-align: left;
    padding: .5rem .5rem .5rem 1.35rem;
    border-radius: 0 50px 50px 0;
}

.topics-container .topic:hover {
    filter: none;
}

.topic a {
    border-color: transparent;
    padding: .4rem;
}

.topic a:hover {
    background-color: var(--bg-primary-dark);
}

.topic.active a:hover {
    background-color: var(--details-color-dark);
}

.topics-container .topic:hover:not(.empty) {
    background-color: var(--bg-primary-light);
}

.topic.empty {
    justify-content: center;
    background: var(--danger-color);
    border-radius: 5px;
    padding: 0.8rem 1.3rem;
    color: var(--font-secondary, --font-primary);
    margin: 0 .8rem;
}

.topics-container .topic.active:not(.empty) {
    background-color: var(--details-color-light);
    border-left: 6px solid var(--details-color);
    color: var(--details-color);
}

.divider {
    display: flex;
    margin: 1rem auto;
    background-color: var(--border-color);
    width: 90%;
    height: 1px;
}

[data-add-topic],
[data-delete-topics] {
    margin: 0 auto;
    width: 90%;
}

[data-delete-topics],
[data-delete-tasks] {
    display: none;
}

main {
    grid-area: tasks;
    padding: 1rem 1rem 4rem;
}

[data-add-task] {
    width: 100%;
    margin-bottom: 2rem;
}

[data-add-task] .input-group {
    display: flex;
    justify-content: center;
}

form[data-add-task] .input-group>* {
    box-shadow: 0 0 .25rem rgb(0 0 0 / 0.15);
    transition: box-shadow .3s ease-in-out;
}

form[data-add-task] .input-group:focus-within>* {
    box-shadow: 0 0 1rem rgb(0 0 0 / 0.15);
}

.tasks-container {
    display: grid;
    place-items: center;
    position: relative;
    margin: 0 auto;
    max-width: 660px;
    width: 100%;
}

.tasks-container-body {
    display: grid;
    place-items: center;
    width: inherit;
    gap: .6rem;
}

.tasks-container-body .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: .8rem 1rem;
    width: inherit;
}

.task .btn-rounded {
    padding: 0.5rem;
}

.task.completed {
    opacity: .8;
}

.task.completed .left .task-date,
.task.completed .left .task-desc {
    text-decoration: line-through;
}

.task .left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.task.completed .left button.btn-rounded {
    background-color: var(--details-color);
    color: var(--font-secondary, --font-primary);
}

.task .left .task-desc {
    font-size: 1.2rem;
    font-weight: 500;
}

.task .left .task-date {
    margin-top: 0.25rem;
    font-size: .9rem;
}

.tasks-container-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;
    width: inherit;
}

.tasks-container-footer button[data-delete-tasks] {
    width: min-content;
}

.tasks-container-footer span {
    font-size: .8rem;
}

.loader-container {
    position: absolute;
    inset: 0;
    z-index: 1;
    background: var(--bg-primary);
    display: grid;
    place-items: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s ease;
}

.loader-container.active {
    opacity: 1;
}

.loader-container.active .loader {
    animation: loader 1s infinite linear;
}

.loader-container .loader {
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid transparent;
    border-left-color: var(--details-color);
}

@keyframes loader {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}